<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../vendor/shopware/shopware/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label>Makaira :: Connect</label>
    <version>1.6.1</version>
    <copyright>marmalade GmbH</copyright>
    <license>MIT</license>
    <link>http://www.marmalade.de/</link>
    <author>marmalade GmbH</author>
    <description>Connector to Makaira</description>
    <description lang="en">Connect your Shopware 5 store to the headless e-commerce marketing platform Makaira in just a few minutes and use the CMS, recommendations, A/B testing search and further functionalities.</description>
    <description lang="de">Verbinde Dein Shopware 5 Shop in nur wenigen Minuten mit der Headless E-Commerce Marketing Plattform Makaira und nutze das CMS, Recommendations, A/B-Testing, Suche und weitere Funktionen.</description>
    <compatibility minVersion="5.2.7" />
</plugin>
