<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../vendor/shopware/shopware/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label>Makaira :: Connect</label>
    <version>0.2.0</version>
    <copyright>marmalade GmbH</copyright>
    <license>MIT</license>
    <link>http://www.marmalade.de/</link>
    <author>marmalade GmbH</author>
    <description>Connector to Makaira</description>
    <description lang="de">Makaira Connect</description>
    <compatibility minVersion="5.2.7" />
</plugin>
