<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element required="true" type="text" scope="locale">
            <name>makaira_connect_secret</name>
            <label lang="de">Shared Secret</label>
            <label lang="en">Shared Secret</label>
        </element>

        <element required="true" type="text" scope="locale">
            <name>makaira_application_url</name>
            <label lang="de">Makaira Url</label>
            <label lang="en">Makaira Url</label>
        </element>

        <element required="true" type="select" scope="locale">
            <name>makaira_instance</name>
            <label lang="de">Makaira Instanz</label>
            <label lang="en">Makaira instance</label>
            <store>
                <option>
                    <value>live</value>
                    <label lang="de">live</label>
                    <label lang="en">live</label>
                </option>
                <option>
                    <value>test</value>
                    <label lang="de">test</label>
                    <label lang="en">test</label>
                </option>
            </store>
        </element>

        <element type="boolean">
            <name>makaira_search</name>
            <label lang="de">Für Suche aktivieren</label>
            <label lang="en">Activate for Search</label>
        </element>

        <element type="boolean">
            <name>makaira_category</name>
            <label lang="de">Für Kategorie aktivieren</label>
            <label lang="en">Activate for Category</label>
        </element>

        <element type="boolean">
            <name>makaira_manufacturer</name>
            <label lang="de">Für Hersteller aktivieren</label>
            <label lang="en">Activate for manufacturers</label>
        </element>

        <element type="boolean">
            <name>makaira_subcategory_products</name>
            <label lang="de">Oberkategorie enthält alle Produkte der Unterkategorien</label>
            <label lang="en">Parent Category stores all products of all subcategories</label>
        </element>

        <element type="boolean">
            <name>makaira_recommendations_active</name>
            <label lang="de">Empfehlungen aktivieren</label>
            <label lang="en">Activate recommendations</label>
        </element>

        <element required="false" type="text" scope="locale">
            <name>makaira_recommendations_identifier</name>
            <label lang="de">Empfehlungs Identifikator</label>
            <label lang="en">Recommendation Identifier</label>
        </element>

        <element type="button">
            <name>makaira_update_filter</name>
            <label lang="de">Filter synchronisieren</label>
            <label lang="en">Synchronize filter</label>
            <options>
                <handler>
                    <![CDATA[
                    function() {
                        Ext.Ajax.request({
                            url: 'MakairaConnectConfigurationAction/updateFilters',
                            success: function (response) {
                                Shopware.Msg.createGrowlMessage(response.statusText, response.responseText);
                            },
                            failure: function (response) {
                                Shopware.Msg.createGrowlMessage(response.statusText, response.responseText)
                            }
                        });
                    }
                    ]]>
                </handler>
            </options>
        </element>
    </elements>
</config>
