<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element required="true" type="text" scope="locale">
            <name>makaira_application_url</name>
            <label lang="de">Makaira Url</label>
            <label lang="en">Makaira Url</label>
        </element>

        <element required="true" type="text" scope="locale">
            <name>makaira_connect_secret</name>
            <label lang="de">Shared Secret</label>
            <label lang="en">Shared Secret</label>
        </element>

        <element required="true" type="text" scope="locale">
            <name>makaira_instance</name>
            <label lang="de">Makaira Instanz</label>
            <label lang="en">Makaira instance</label>
        </element>

        <element type="boolean">
            <name>makaira_tracking_active</name>
            <label lang="de">Makaira Tracking aktivieren</label>
            <label lang="en">Activate Makaira Tracking</label>
        </element>

        <element required="false" type="text" scope="locale">
            <name>makaira_tracking_page_id</name>
            <label lang="de">Seiten-ID für das Tracking</label>
            <label lang="en">Tracking Page-ID</label>
        </element>
    </elements>
</config>
